@media only screen and (orientation: landscape) {
    body {
        background-color: #f4f4f4;
        font-family: "Roboto";
    }
}

body, html { margin: 0; padding: 0;}

button {
    background: #CB202D;
	font-size: .6em;
    border: none;
    width: 100%;
    border-radius: 3px;
    font-size: .9em;
    padding: .6em .9em;
    color: #f4f4f4;
}
 a{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;  
    color: #f4f4f4;
 }

.jumbotron {
  color: #f4f4f4;
  position: relative;
  margin: 0px;
  width: 100%;
  background: #CB202D;
}

.image-container{
    display: flex;
    margin-top: 1em;
}

.brand-image{
    width: 100%;
    max-height: 65vh;
}

.title{
    position: relative;
}

.jumbotron .h1 {
    font-weight: bold;
    font-size: 64px;
}

.category {
	border: 1px solid #CB202D;
    padding: 6px;
	border-radius: 4px;
    background: #CB202D;
    color: #f4f4f4;
}

.cart-container {
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
}

.summary-container {
    padding-top: 20px;
}

.filter-container {
    background: white;
    padding: 10px;
}

.cart-total {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.hr {
    border-bottom: 2px solid gray;
}

.ingredients {
    color: gray;
}

.btn-remove {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.success {
    font-size: 14px;
    color: green;
    word-break: break-word;
}

#cta-button{
    background-color: green;
    position: absolute;
    right: 0;
    width: 10em;
}

.inputBox {
  height: 30px;
  width: 100%;
  color: #222;
  border: solid 1px #88b0c0;
  border-radius: 3px;
  padding: 6px;
  font-size: 13px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.original-price {
    text-decoration: line-through;
    color: red;
}

.discounted-price {
    color: green;
}

.form-container{
    margin: 0px auto;
    text-align: center;
    border: 1px solid black;
    padding: 2em 5em;
    max-width: 320px;
    margin-top: 2em;
}

.form-input{
    margin-bottom: 1.5em;
}

.submit-button{
    background-color: #107338;
    color: #f4f4f4;
}